@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Heebo:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Heebo, sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
h2, h3, h4 {
    font-family: Heebo, sans-serif;
    letter-spacing: 1px;
    color: black;
}
#title{
    text-align: center;
    padding: 0.8rem 0;
    font-size: 3rem;
    color: rgb(49,70,7);
    background: rgba(105,224,90,0.55);
    font-family: Bebas Neue, Times, serif;
}